container_commands:
    01_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
        leader_only: true
  02_createsuperuser:
    command: "echo \"from django.contrib.auth.models import User; User.objects.create_superuser('mortega2', 'mortega2@domain.com', 'Mo464197##$')\" | python manage.py shell"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: personal_portfolio_project.settings